<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://viewsservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9498eaf0-5e1a-4d6e-b944-e6c822094339/resourceGroups/Structor.CMS/providers/Microsoft.Web/sites/viewsservice</ResourceId>
    <UserName>$viewsservice</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://viewsservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>